
$primary: #E7BB29;

$searchButtonTextIdle: rgb(36, 36, 36);
$searchButtonIdle: #fff59e;

$bubbleIdleColour: #fff59e;
$focusBubbleIdleColour: #E7BB29;

$searchButtonTextHover: rgb(71, 71, 71);
$searchButtonHover:  #faf5ce;

$searchButtonBorder: rgb(48, 48, 48);

.btn-outline-success {
    color: $searchButtonTextIdle;
    background-color: $searchButtonIdle;
    border-color: $searchButtonBorder; /*set the color you want here*/
    font-weight: 500;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success {
    color: $searchButtonTextHover;
    background-color: $searchButtonHover;
    border-color: $searchButtonBorder; /*set the color you want here*/
    font-weight: 500;
}

#navbar {
    background-color: #E7BB29;
    font-weight: 700;
    font-size: 50px;
}

#navbar-title {
    color: rgb(31, 31, 31);
    font-weight: 700;
    font-size: 50px;
}

#navbar-link {
    color: rgb(59, 59, 59);
    font-weight: 600;
    font-size: 30px;
}

#navigatorBox {
    height: 80vh;
    // width: 120vw;
    display: block;    
}

// #navigator {
//     height: 80vh;
//     width: 120vw;
//     display: block;    
// }

#controls {
    width:10vw;
    display: block;
    font-size: 16px;
}

#controls-heading {
    font-size: 30px;
    height: 5%;
}

#categories {
    width: 90%;
    height: 60%;
    font-weight: 600;
}

#categories-heading {
    width: 5%;
    height: 3%;
    font-size: 16px;
}

#infoDisplay {
    overflow-y: auto;
    direction: ltr;
    height: 80vh;
    width:40vw;
}

#title {
    font-style: italic;
    display: inline-block;
}

#pronunce {
    font-style: italic;
    font-size: larger;
}

#definitionsList {
    list-style-type: none;
    padding: 0;
}

#definitionsList > li > h6 {
    font-weight: bold;
}

#definitionsList > li {
    margin-right: 2rem;
}

#bubble-fade-out {
    fill: $bubbleIdleColour;
    color: $bubbleIdleColour;
    background-color: $bubbleIdleColour;
}




// .bubble-fade-out {
//     fill: #E7BB29;
// // background-color: #E7BB29;
    
//     opacity: 0;
    
//     animation: 5.5s bubbleFadeOut infinite;
// }

@keyframes bubbleFadeOut {    
    15% {opacity: 0} 
    35% {opacity: 1}
    65% {opacity: 1} 
    85% {opacity: 0}
}

#hg2 {animation-delay: 0.5s}
#hg3 {animation-delay: 1.0s}
#hg4 {animation-delay: 1.5s}
#hg5 {animation-delay: 2.0s}
